<%-include ("header")-%>

<div class="container">
  <h1>About</h1>
  <div class="paraContainer">
    <h2>Welcome to our Journaling Website!</h2>
    <p class="para">
      At our Journaling Website, we believe in the power of personal expression
      and self-reflection. We have created a platform specifically designed to
      cater to your journaling needs, providing a safe and secure space for you
      to document your thoughts, emotions, and experiences. Journaling has long
      been recognized as a valuable tool for personal growth, self-discovery,
      and mental well-being. It allows you to explore your innermost thoughts,
      clarify your goals, and gain a deeper understanding of yourself. Our
      website aims to make the process of journaling convenient, accessible, and
      enjoyable.
    </p>
    <h2>Key Features:</h2>
    <ul>
      <li class="para">
        <span class="bold"> Secure and Private:</span> We prioritize your
        privacy and security. Your journal entries are encrypted and stored
        securely, ensuring that your personal thoughts and reflections remain
        confidential.
      </li>
      <li class="para">
        <span class="bold">User-Friendly Interface:</span> Our website is
        designed with simplicity in mind. We want you to focus on your
        journaling experience without any distractions. The intuitive interface
        makes it easy to create, organize, and search your journal entries
        effortlessly.
      </li>
      <li class="para">
        <span class="bold">Mobile Accessibility:</span> We understand that
        journaling is not limited to a specific time or place. Our website is
        optimized for mobile devices, ensuring that you can access your journal
        on the go, whether you're using a smartphone or a tablet.
      </li>
    </ul>
    <p class="para ">
      Whether you're an experienced journal writer or just starting your
      journey, our Journaling Website is here to support you every step of the
      way. Start documenting your life's moments, gaining insights, and
      embracing self-discovery today!
    </p>
  </div>
</div>

<%-include ("footer")-%>
