<%-include ("header")-%>

<div class="container">
    <h1>Contact Us</h1>
    <div class="paraContainer">
      <p class="textContent">
        <p class="para">We would love to hear from you! If you have any questions, suggestions, or feedback, please don't hesitate to reach out to us. We value your input and are committed to continuously improving our Journaling Website to better serve your needs.</p>
        
        <h2>You can contact us through the following methods:</h2>
        <ul>
          <li class="para">1.Email: thoughtcanvas@gmail.com</li>
          <li class="para">2.Phone: +91 1234567890</li>
          <li class="para">3.Address: Guwahati,India</li>
        </ul>
        
        <h2>Additionally, you can also connect with us on social media:</h2>

        <div class="social">
          <a href=""><i class="ri-github-fill"></i></a>
          <a href=""><i class="ri-twitter-fill"></i></a>
          <a href=""><i class="ri-instagram-fill"></i></a>
        </div>
        
        
        
        <p>Feel free to send us a message or join our vibrant community of journal writers. We look forward to connecting with you and supporting you on your journaling journey!</p>
        
        <p>Remember, every word you write is a step toward self-discovery and personal growth. Start journaling with us today!</p>
      </p> 
    </div>
  </div>


<%-include ("footer")-%>