<div class="footer">
    <p>Copyright © 2023 Thought Canvas. All rights reserved.</p>
  </div>

</div>

  <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
  <script src="app.js"></script>
</body>
</html>