<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />

    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/style.css" />
    <title>Thought Canvas</title>
  </head>
  <body>
    <div class="wrapper">
    <div class="header">
      <a href="" class="logo"
        ><i class="ri-quill-pen-line"></i
        ><span>Thought <span id="head">Canvas</span></span></a
      >
      <ul class="nbar">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About </a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="#">Blog</a></li>
        <li><a id="compose" href="/compose">Compose</a></li>
      </ul>
      <div class="main">
        <a href="" id="user"><i class="ri-user-3-line"></i>Sign In</a>
        <a href="">Register</a>
        <div class="bx bx-menu" id="menu-icon"></div>
      </div>
    </div>