<%-include ("header")-%>

<div class="container">
<div class="paraContainer">
       <h2 class="title"><%=_title%></h2>
       <p class="para"><%=_blogContent%></p> 
</div>
</div>

<%-include ("footer")-%>